/*心情开始*/

.inner .userworks .works .moods-main {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	padding-bottom:50px;
}

.inner .userworks .works .moods-main .writemoods {
	width: 85%;
	height: 100px;
	margin: 10px auto;
	position: relative;
	background-color: #534846;
	overflow: hidden;
}

.inner .userworks .works .moods-main .writemoods .moods_bottom {
	width: 100%;
	height:50%;
	margin-top: 20px;
	position: relative;
}
.inner .userworks .works .moods-main .writemoods .moods_bottom .mood_content {
	width: 70%;
	height: 100%;
	resize: none;
	border: none;
	float: left;
	margin-left: 20px;
}
.inner .userworks .works .moods-main .writemoods .moods_bottom .moos_go {
	float: left;
	margin-left: 20px;
	cursor: pointer;
	width: 20%;
	height: 100%;
	border: none;
	background-color: #F0F8FF;
	border-radius: 30px;
	color: #00000;
	transition: all 1s;
}

.inner .userworks .works .moods-main .writemoods .moods_bottom .moos_go:hover {
	background-color: #FFC0CB;
	color: #FFFFFF;
	font-size: 0.1em;
}

.inner .userworks .works .moods-main .moods-inner {
	width: 85%;
	height: 80%;
	margin: 0 auto;
	margin-top: -80px;
}

 .moods-inner li {
	list-style: none;
	width: 100%;
	height: auto;
	position: relative;
	margin: 100px auto;
}

 .moods-inner li .moods_univer {
	float: left;
	width:auto;
	padding: 0px 10px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	font-size: 0.8em;
	cursor: pointer;
	transition: all 1s;
}

 .moods-inner li .moods_univer:hover {
	background-color: #534846;
	color: #FAEBD7;
}

 .moods-inner li .moods_iin {
	width: 100%;
	height:auto;
	position: relative;
}
 .moods-inner li .moods_iin p {
	margin: 10px auto;
	display: block;
	width: 100%;
	height: 100%;
}
 .moods-inner li .moods_iin .func {
	width:auto;
	height: 50px;
	margin: 0 auto;
	position: absolute;
	background-color: darkcyan;
	bottom: -80px;
	right: 0px;
}



 .moods-inner li .whengo {
	font-size: 0.5em;
	position: relative;
}

/*这里是操作的css*/

.inner .userworks .works .moods-main .moods-inner li .moods_iin .func .zonemoodcz {
	position: relative;
	width: 100px;
	z-index: 999;
}

.inner .userworks .works .moods-main .moods-inner li .moods_iin .func  .moods-down {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0px;
}

.inner .userworks .works .moods-main .moods-inner li .moods_iin .func  .moods-down .moodscz-inner {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #000000;
}

.inner .userworks .works .moods-main .moods-inner li .moods_iin .func  .moods-down .moodscz-inner:hover {
	background-color: #DC143C;
	color: #000000;
}



/*心情结束*/